@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* ^ font */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1200px;
    margin: auto;
}
nav {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: rgb(50, 50, 50);
}
nav .logo {
    font-size: 2em;
}
nav > ul {
    list-style: none;
    display: flex;
}
nav > ul li {
    margin: 1em;
}